<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">OTPMan App</a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>Ola {{ profile?.name }}</div>
        <form class="d-flex">
            <button class="btn btn-outline-success" type="button" (click)="onLogout()">Logout</button>
        </form>
    </div>
</nav>