<div class="auth-container">
  <div class="vertical-center">
    <div class="card auth-card">
      <div class="card-header text-center">
        Login
      </div>
      <div class="card-body">
        <form (ngSubmit)="onLogin(otpModal)" [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{'is-invalid': f['email'].touched && f['email'].invalid}">
            <control-messages class="invalid-feedback" [control]="f['email']"></control-messages>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" formControlName="password"
              [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}">
            <control-messages class="invalid-feedback" [control]="f['password']"></control-messages>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn mt-5" [class]="loginForm.valid ? 'btn-primary' : 'btn-secondary disabled'"
              [disabled]="!loginForm.valid">
              <app-three-o-loader [data]="{originText: 'Login to your Account!', id: 'auth-login'}"></app-three-o-loader>
            </button>
          </div>
        </form>
        <div class="text-center mt-3">
          <a routerLink="/auth/register">Do not have an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #otpModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Welcome back {{user?.name}}</h4>
  </div>
  <div class="modal-body centered">
    <form>
      <div class="form-group">
        <label for="otp">Enter your 6 digit OTP here:</label>
        <input type="text" class="form-control" id="otp" [formControl]="otp" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-secondary" (click)="onRequestOtp()">
        <app-three-o-loader [data]="{originText: 'Request OTP', id: 'auth-otp-request'}"></app-three-o-loader>
      </button>
      <button type="button" class="btn btn-primary" (click)="onSubmitOtp()">
        <app-three-o-loader [data]="{originText: 'Submit OTP', id: 'auth-otp-verify'}"></app-three-o-loader>
      </button>
    </div>
  </div>
</ng-template>